[submodule "midas-agent-design-book"]
	path = midas-agent-design-book
	url = https://github.com/Midas-Agent-Dev/midas-agent-design-book.git
[submodule "llm-agent-toolkit"]
	path = llm-agent-toolkit
	url = https://github.com/zysilm/llm-agent-toolkit.git
